:root {
  --azureBlue:#2D80E4;
  --lightBlue:#03B0E9;
  --accentOrange: #EE8434;
  --borderOrange: #BF7740;
  --accentYellow: #fed136;
  --darkGrey: #1B1E22;
  --lighterdarkGrey: ##363C45;

}

body {
  overflow-x: hidden;
  font-family: 'Cooper Hewitt Thin', sans-serif;
  font-size: 16px;
  color: var(--darkGrey);
}

h1 {
  color: var(--darkGrey);
  font-family: 'Cooper Hewitt Thin';
  font-size: 5em;
  letter-spacing: -0.001px;
}

h2 {
  color: var(--darkGrey);
  font-family: 'Cooper Hewitt Light';
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: 0.13em;

}

p {
  font-family: 'Aileron Thin';
  font-size: 1em;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--lighterdarkGrey);
}

a {
  color: #fed136;
}

a:hover {
  color: var(--accentOrange);
}

.text-primary {
  color: #fed136 !important;
}


section {
  padding: 100px 0;
}

section h2.section-heading {
  color: var(--darkGrey);
  font-size: 1.75em;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  color: var(--darkGrey);
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

#shape1 {
  position: absolute;
  top:0;
  left:0;
  background-color: var(--lightBlue);
  width: 100%;
  height: 110vh;
  opacity: 0.5;
  z-index: -10
}

.shape1 {
  -webkit-clip-path: polygon(90% 0, 0 0, 0 100%);
  clip-path: polygon(90% 0, 0 0, 0 100%);
}

#shape2 {
  position: absolute;
  top:0;
  left:0;
  background-color: var(--azureBlue);
  width: 100%;
  height: 80vh;
  opacity: 0.5;
  z-index:-10;
}

.shape2{
  -webkit-clip-path: polygon(100% 0, 55% 0, 100% 65%);
  clip-path: polygon(100% 0, 55% 0, 100% 65%);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.btn-primary {
  text-transform: uppercase;
  font-family: 'Cooper Hewitt Bold';
  font-size: 14px;
  height: 48px;
  padding: 0 20px 0 20px;
  background-color: var(--accentOrange);
  border-color: var(--borderOrange);
  color: black;
  letter-spacing: 0.6px;
  color: white;
}

.btn-primary:hover {
  background-color: var(--lightBlue);
}