body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* fonts:
================================================================================= */

/* Cooper Hewitt Thin */

@font-face {
	font-family: 'Cooper Hewitt Thin';
	src: url('./assets/fonts/cooper-hewitt/CooperHewitt-Thin.eot');
	src: url('./assets/fonts/cooper-hewitt/CooperHewitt-Thin.eot?#iefix') format('embedded-opentype'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Thin.woff2') format('woff2'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Thin.woff') format('woff'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Thin.ttf') format('truetype'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Thin.svg#Lato_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Cooper Hewitt Light */

@font-face {
	font-family: 'Cooper Hewitt Light';
	src: url('./assets/fonts/cooper-hewitt/CooperHewitt-Light.eot');
	src: url('./assets/fonts/cooper-hewitt/CooperHewitt-Light.eot?#iefix') format('embedded-opentype'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Light.woff2') format('woff2'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Light.woff') format('woff'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Light.ttf') format('truetype'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Light.svg#Lato_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Cooper Hewitt Bold */

@font-face {
	font-family: 'Cooper Hewitt Bold';
	src: url('./assets/fonts/cooper-hewitt/CooperHewitt-Bold.eot');
	src: url('./assets/fonts/cooper-hewitt/CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Bold.woff2') format('woff2'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Bold.woff') format('woff'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Bold.ttf') format('truetype'),
		 url('./assets/fonts/cooper-hewitt/CooperHewitt-Bold.svg#Lato_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Aileron Thin */

@font-face {
	font-family: 'Aileron Thin';
	src: url('./assets/fonts/aileron/Aileron-Thin.eot');
	src: url('./assets/fonts/aileron/Aileron-Thin.eot?#iefix') format('embedded-opentype'),
		 url('./assets/fonts/aileron/Aileron-Thin.woff2') format('woff2'),
		 url('./assets/fonts/aileron/Aileron-Thin.woff') format('woff'),
		 url('./assets/fonts/aileron/Aileron-Thin.ttf') format('truetype'),
		 url('./assets/fonts/aileron/Aileron-Thin.svg#Lato_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
